.cryptoContent > div {
    /*background: var(--content-box) !important;*/
}

.MuiTabs-fixed{
    overflow: unset !important;
    /*display: none !important;*/
    padding:24px;
    height:26px;
}

.MuiTabs-root {
    min-height: 60px !important;
}
.MuiAppBar-root{
    /*margin:0px 60px;*/
    width: calc(100% - 120px) !important;
    min-height : 0px !important;
}

.MuiAppBar-colorPrimary{
    background: var(--content-box) !important;
    /*border-bottom: 1px solid var(--default-font-color) !important;*/
}


.MuiPaper-elevation4{
    box-shadow: 0px 0px 0px 0px !important;
}

.MuiTabs-flexContainer{
    justify-content: center;
    /*border: 1px solid #EAEAEA;*/
    border-radius: 15px;
    height: 46px;
    background: #1f2127;
}
.MuiTabs-indicator{
    background-color: transparent!important;
}

.MuiTab-wrapper{
    font-size: 16px;
    font-weight: bold;
}

#simple-tabpanel-0,
#simple-tabpanel-1,
#simple-tabpanel-2 {
    height: 100%;
    overflow: auto;
    /*border-top: 1px solid var(--1gray-color);*/

}
/*.MuiBox-root{*/
/*    border-top: 1px solid var(--1gray-color);*/
/*}*/

.MuiPaper-root {
    width: 100% !important;
    padding: 0 !important;
}

.MuiBox-root-6{
    padding:0 !important;
}
.MuiBox-root-13{
    padding:0 !important;
}

.blockgap{
    height: 20px;
    background-color: var(--bg-color-box);
    width: 100%;
}