.exchange-view {
    position: fixed;
    top: -9px;
    left: 1180px;
    height: 100%;
    width: 393px;
    margin: 0;
    color: var(--black-font-color);
    overflow: auto;
}


.exchange-public-table {
    width: 100%;
    border : 1;
    table-layout: fixed;
}





