.exchange-view {
    position: fixed;
    top: 158px;
    height: 80%;
    width: 100%;
    margin: 0;
    color : var(--black-font-color);
    overflow: auto;
}


.exchange-public-table {
    width: 100%;
    border : 1;
    table-layout: fixed;
}





