tr > .name,
tr > .name > p {
    text-align: left !important;
}

.exchange-public-table{
    background: var(--bg-color-box);
}


/**
테이블 크기 세팅
 */

/*.exchange-public-table > thead > tr > th:nth-child(1) {*/
/*    width: 20%;*/
/*}*/


.exchange-public-table > thead > tr  {
    width: 100%;
    padding: 4px 0px;
    height: 32px;
    background-color: var(--table-thead-background);
}

.exchange-public-table > thead > tr > th {
    font-size: 11px;
    color: var(--table-cell-default-font-color);
    font-weight: 600;
}


.exchange-public-table > thead > tr > th:nth-child(1) {
    width: 50px;
    
}



.exchange-public-table > thead > tr > .title {
    text-align: left;
}

.exchange-public-table > thead > tr > .price,
.exchange-public-table > thead > tr > .percent,
.exchange-public-table > thead > tr > .tradecost {
    text-align: center;
}



.exchange-public-table > tbody > tr  {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    height: 52px;
    border-bottom: 1px solid var(--border-color);
}
.exchange-public-table > tbody > tr > td {
    padding-top: 4px;
}

.exchange-public-table > tbody > tr > .price {
    /*width : 879x !important;*/
}
.exchange-public-table > tbody > tr > .name > strong  {
    font-size: 14px;
    text-align: center;
    color: var(--default-font-color);
}

.exchange-public-table > tbody > tr > .volume > p,
.exchange-public-table > tbody > tr > .volume > strong{
    font-size: 12px;
    text-align: center;
    color: var(--default-font-color);
}

.exchange-public-table > tbody > tr > td:nth-child(1) {
    width: 50px;
}

.exchange-public-table > tbody > tr > .icon > img {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    
}

.exchange-public-table > tbody > tr > .name > p:nth-child(2)  {
    font-size: 10px;
    text-align: center;
    color: var(--table-cell-default-font-color);
}

.exchange-public-table > tbody > tr > .volume  > p{
    height: 34px;
    text-align: end;
}

.exchange-public-table > tbody > tr > .price  > p{
    display: flex;
    align-items: center;
    height: 24px;
    justify-content: flex-end;
    margin: 4px 2px 20px 0px;
    /* padding-right: 5px; */
    box-sizing: border-box;
    width: fit-content;
    float: right;
}
.exchange-public-table > tbody > tr > .percent > p {
    min-height: 17px;
}


.exchange-public-table > tbody > tr > .percent {
    text-align: right;
    padding-right: 14px;
}

.exchange-public-table > tbody > tr > .percent > p:nth-child(2) {
    font-size: 12px;
}


.exchange-public-table > tbody > tr > .volume{
    display: flex;
    justify-content: flex-end;
    padding: 11px 4px 0px 0px;

}


.exchange-public-table > tbody > tr > .volume > p{
    margin-left: 2px;
    color: var(--default-font-color);

}

.up {
    color: var(--up-color);

}
.down {
    color: var(--down-color)
}


@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.isBid{
    /* background-color: var(--up-color); */
    background-color:rgba(240, 51, 51, 0.4);
    /* border-bottom: 1px solid rgba(240, 51, 51, 0.5); */
     border-radius: 6px;
   /* animation: fadein 0.5s; */
}

.isAsk {

    /* background-color: var(--down-color); */
    /* border-bottom: 1px solid rgb(16, 23, 158, 0.5); */
    background-color:rgb(16, 23, 158, 0.4);
    border-radius: 6px;
    /* animation: fadein 0.5s; */
}



.exchange-view {
    position: relative;
    height: calc(100% - 22px);
    /* width: 393px; */
    width: 100%;
    margin: 0;
    color: var(--black-font-color);
}

.exchange-public-table {
    top: 0;
    /* position: fixed; */
    left: 0px;
    width: 100%;
    position: relative;
    border: 1;
    table-layout: fixed;
}

.scroll-table{
    display: block;
    overflow: auto;
    height: 100%;
}
/*.tbodyTable{*/
/*    height: 100%;*/
/*    overflow-y: scroll;*/

/*}*/

/*.exchange-public-table > tbody {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    overflow: auto;*/
/*}*/






