.navBar_search-content{
    display: flex;
    width: 100%;
    max-height: 56px;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

.navBar_search-box {
    padding: 8px;
    width: 100%;
    height: 34px;
    position: relative;
    bottom: 0;
    margin:8px 0px;
}

.publicInput {
    display: flex;
    align-items: center;
    width: 250px;
    height: 32px;
    /* bottom: 4px; */
    margin: 0px 8px;
    position: relative;
    bottom: 20px;
    background-color: var(--search-background-color);
    border-radius: 6px;
}

.search-icon {
    width: 15px;
    height: 15px;
    margin-left:12px;
    background: url(https://cdn.upbit.com/upbit-web/images/bg_upbit.b201e1b.png) -110px 0 no-repeat;
    background-size: 320px;
}

.search-input-box{
    display: block;
    font-size: 12px;
    box-sizing: border-box;
    background: transparent;
    color: var(--table-cell-default-font-color);
    margin-left:8px;
}

.search-input-box:focus::placeholder {
    color:transparent;
}


