.DetailView_Content{
    width: 100%;
    height:100%;
    overflow: auto;

}
.DetailHeader{
    background: var(--content-box);
}

.miniChart {
    width: calc(100% - 36px);
    height: 270px;
    padding: 18px;
    background: var(--content-box);
}

.miniChart div,
.miniChart g,
.miniChart rect {
    background: var(--content-box) !important;
}



.crytoInfo{
    width: 100%;
    height: 100%;
}


.up {
    color: var(--up-color);

}
.down {
    color: var(--down-color)
}

.InvestInfoArea {
    background-color: var(--content-box);
    padding:18px
}