.detailView_Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 48px);
    height: 40px;
    color: var(--default-font-color);
    font-size: 12px;
    padding: 0px 20px;
    padding-top: calc(env(safe-area-inset-bottom) + 25px);
    background: var(--content-box);
    position: relative;
    z-index: 999;
}

.arrow_back {
    width: 18px;
    height: 18px;
    transform: scaleX(-1);
    content: url("../../../images/arrow_icon.png");
}


.disable_bookMark {
    width: 20px;
    height: 20px;
    transform: scaleX(-1);
    content: url("../../../images/bookmark.png");
}

.active_bookMark {
    width: 20px;
    height: 20px;
    content: url("../../../images/bookmark_selected.png");
}

.detailView_page_Info{

    display: flex;
    flex-direction: column;
    padding: 0px 24px;
    /* padding-top: calc(env(safe-area-inset-bottom) + 25px); */
    background: var(--content-box);


}

.detailView_page_Info > span:nth-child(1),
.detailView_page_Info > span:nth-child(2){
    font-size: 18px;
    margin-top:6px;
    color: var(--default-font-color);
    transition: all 0.3s;
}


.detailView_page_Info > span:nth-child(3){
    font-size: 12px;
    margin-top:2px;
    transition: all 2s;
}
