.DetailView_Content{
    height:100%;
}
.DetailHeader{
    padding-top: calc(env(safe-area-inset-bottom) + 25px);
}

.miniChart {
    width: 100%;
    height: 270px;
}


.crytoInfo{
    width: 100%;
    height: 100%;
}
