.bottom_menu-content {
    display: flex;
    position: fixed;
    width: 100%;
    height: 71px;
    left: 0;
    margin: 0;
    bottom: 0;
    background-color: var(--footer-bg-color);
}

.bottom_menu-content > button {
    width: 20%;
    height: 45px;
    background-color: var(--footer-bg-color);
    color: var(--default-font-color);
}
