@keyframes fadein {
    from {
        opacity: 0.3;
    }

    to {
        opacity: 1;
    }
}
.mobile-view{
    background: var(--bg-color);
}
.bg-gray-active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 10;
    animation: fadein 0.3s
}

header {

}

main {

}

footer{

}
