.content-view {
    position: fixed;
    top: 175px;
    height: 80%;
    width: 100%;
    max-width: 450px;
    margin: 0;
    color: var(--black-font-color);
    overflow: auto;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width:100% !important;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: var(--bg-color-box);
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.category-view{
    max-width: 442px;
    position: fixed;
    top: 92px;
    height: 34px;
    width: 100%;
    margin: 0;
    color: var(--black-font-color);
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    display: flex;
     position: fixed;
    /*top: -116px !important;*/
    left:80px;
    height: 26px;
    z-index: 999;
    /* left: 1px !important; */
}


.content-view > .swiper > .swiper-pagination > .swiper-pagination-bullet {
    width: fit-content;
    height: 20px;
    font-size: 12px;
    margin-right: 5px;
    border-radius: 10px;
    /* border: 1px solid transparent; */
    /* padding: 4px; */
    margin-right: 4px;
    opacity: 0;
    /* margin: 0; */
    /* pointer-events: none;  */
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    padding: 4px 13px;
    /* font-size: 16px; */
    /* font-weight: bold; */
    color: var(--default-font-color);
}

.content-view > .swiper > .swiper-pagination > .swiper-pagination-bullet > strong {
    padding:4px;
}

.swiper-pagination-bullet-active {
    border-bottom: 2px solid var(--default-font-color);
    color: var(--default-font-color) !important;
}

.swiper-pagination-clickable .swiper-pagination-bullet{
    cursor: pointer;
    width: 74px;
    height: 30px;
    border-radius: 0px;
}


.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 10px;
    left: 0;
    width: 100%;
    top: 93px;
    opacity: 0;
    max-width: 450px;
}

.swiper-pagination,
.swiper-pagination-bullet-active{
    opacity: 0 !important;
}


.table_sort_down {
    width:12px;
    height:12px;
    margin-top:-6px;
    margin-left:4px;
    content:url("../images/table_sort_default.png")
}

.table_sort_up {
    width:12px;
    height:12px;
    margin-left:4px;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    content:url("../images/table_sort_default.png")
}

.table_select_sort_up {
    width:12px;
    height:12px;
    margin-left:4px;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    content:url("../images/select_arrow.png")
}

.table_select_sort_down {
    width:12px;
    height:12px;
    margin-top:-6px;
    margin-left:4px;
    content:url("../images/select_arrow.png")
}

.table_sort_btn_group{
    display: flex;
    flex-direction: column;
}